/* global styles */

body{
    background-color: black;
}

img{
    display: block;
    margin: 0 auto;
    width: 39%;
    padding: 20px;
    border: 4px solid yellow;
    border-radius: 20px;
}

a{
    color: yellow;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, p, li, footer{
    color: yellow;
}

#container {
    background-color: #1a1a1a;
    width: 65%;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid yellow;
    border-radius: 20px;
}

header{
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid yellow;
}

nav{
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li{
    display: block;
}

nav li a{
    display: block;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
}

/* two-column layout */

.multi_col{
    display: flex;
}

section, aside{
    border-radius: 20px;
    border: 2px solid yellow;
    margin: 20px;
    padding: 20px;
}

section img{
    border-radius: 10px;
    border: 2px solid yellow;
    width: 75%;
}

/* tablet styles */
@media (min-width: 768px){
    nav li{
        display: inline;
    }

    nav li a{
        display: inline-block;
        width: 150px;
        height: 40px;
    }
}

/* desktop styles */
@media (min-width: 1024px){
#container{
    width: 65%;
    margin: 20px auto;
}
}
