/* =========================
   GLOBAL STYLES
========================= */

body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #111;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #f1c40f;
    box-shadow: 0px 0px 25px rgba(255, 255, 0, 0.15);
}


/* =========================
   TEXT + HEADINGS
========================= */

h1, h2, h3, h4, p, li, footer {
    color: #f1c40f;
}

h1 {
    font-size: 45px;
    margin-bottom: 5px;
}

.subheader {
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
    text-align: center;
    color: #e6c300;
}


/* =========================
   IMAGES
========================= */

img {
    display: block;
    margin: 20px auto;
    width: 70%;
    border-radius: 15px;
    border: 3px solid #f1c40f;
    transition: 0.3s;
}




/* =========================
   NAVIGATION
========================= */

nav {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
    margin: 10px 0;
}

nav li a {
    display: block;
    padding: 12px;
    background-color: #000;
    border: 2px solid #f1c40f;
    border-radius: 10px;
    color: #f1c40f;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: #f1c40f;
    color: #000;
}


/* =========================
   TWO COLUMN LAYOUT
========================= */

.multi_col {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

section, aside {
    background-color: #0d0d0d;
    border: 2px solid #f1c40f;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(255,255,0,0.1);
}

section img {
    width: 85%;
    border-radius: 10px;
    border: 2px solid #f1c40f;
}




@media (min-width: 768px) {
    nav li {
        display: inline-block;
        margin: 0 5px;
    }

    nav li a {
        width: 140px;
        display: inline-block;
    }
}




@media (min-width: 1024px) {

    #container {
        width: 65%;
    }

    .multi_col {
        flex-direction: row;
    }

    section, aside {
        flex: 1;
    }
}
