body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: crimson;
}

p{
    color: crimson;
}

h2{
    color: crimson;
}

footer{
    color: crimson;
}

h3{
    color: crimson;
}

li{
    color: crimson;
}

a{
    color: crimson;
    text-decoration: none;
}