body {
    background-color: black;
}

h1{
    color: crimson;
}

p{
    color: crimson;
}

h2{
    color: crimson;
}

footer{
    color: crimson;
}

li{
    color: crimson;
}

hr{
    color: crimson;
}

a{
    text-decoration: none;
    color: crimson;
}

h3{
    color: crimson;
}