/* global styles */

body{
    background-color: dimgray;
}

img{
    display: block;
    margin: 0 auto;
    width: 65%;
}

a{
    color: crimson;
    size: 20px;
}

a:hover {
    text-decoration: none;
}

p{
    color: crimson;
}

/* mobile */

#container {
    margin: 10px;
    border: 2px solid black;
}
header{
    background-image: url(../images/zr_drift_88.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav li{
    display: block;
}

nav li a{
    display: block;
    background-color: rgb(30, 26, 26);
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 10px 0;
}