/* global styles */

body{
    background-color: dimgray;
}

img{
    display: block;
    margin: 0 auto;
    width: 39%;
     padding: 20px;
    border: 4px solid crimson;
    border-radius: 20px;
}

a{
    color: crimson
}

a:hover{
    text-decoration: none;
}

h1{
    color: ghostwhite;
}
body{
    background-color: black;
}

img{
    display: block;
    margin: 0 auto;
    width: 35%;
}

a{
    color: crimson;
    text-decoration: none;
}

#container {
    background-color: rgb(50, 10, 66);
    width: 65%;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid crimson;
    border-radius: 20px;
}

p{
    color: crimson;
}

li{
    color: crimson;
}

hr{
    color: black;
}

h1{
color: crimson;
}

h2{
    color: crimson;
}

h3{
    color: crimson;
}

h4{
    color: crimson;
}

footer{
    color: crimson;
}

header{
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid black;
}

nav{
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}



main h2 {
    text-align: center;
    color: crimson;
}

.multi_col{
    display: flex;
}

section,aside {
    border-radius: 20px;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
section img {
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
}

img{
    border-radius: 10px;
    border: 2px solid black;
    width: 35%;
}




/* mobile styles */

#container {
    
    border: 4px solid dimgrey;
}

nav{
    text-align: center;
    
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav li{
    display: block;
}

nav li a {
    display: block;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
}

/* tablet styles */

@media (min-width: 768px) {
    nav li{
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }
}

/* desktop styles */
@media (min-width: 1024px){
#container {
    width: 65%;
    margin: 20px auto;
}
}