/* global styles */

body{
    background-color: dimgray;
}

img{
    display: block;
    margin: 0 auto;
    width: 39%;
     padding: 20px;
    border: 4px solid crimson;
    border-radius: 20px;
}

a{
    color: crimson
}

a:hover{
    text-decoration: none;
}

h1{
    color: ghostwhite;
}



/* mobile styles */

#container {
    
    border: 4px solid dimgrey;
}

nav{
    text-align: center;
    
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav li{
    display: block;
}

nav li a {
    display: block;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
}

/* tablet styles */

@media (min-width: 768px) {
    nav li{
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }
}

/* desktop styles */
@media (min-width: 1024px){
#container {
    width: 65%;
    margin: 20px auto;
}
}